<% obj.each do |recipe| %>
<div class = "row">
  <div class="col-md-2"> 
  <section class="user_info_center">
  <%= link_to gravatar_for(recipe.user, size:120) %>
  <section> </div>
  
  <div class="col-md-8 well"> <br>
    <h4>Recipe Name: <%= link_to recipe.name, recipes_path(recipe) %></h4><br>
    <h4>Recipe Description:<%= truncate(recipe.description, length: 100) %></h4><br>
    <p> <span class="quiet"> <small>Created: <%= time_ago_in_words(recipe.created_at) %> ago by: <%= recipe.user.username %></span></p><br> </small>
    
    <hr>
  </div>
</div><!-- end row -->




<% end %>